.pattern-card-icon-style {
    display: flex;
    justify-content: center;
    align-items: center;
}

.strong-positive {
    background-color: wheat;
    color: peru;
}

.weak-positive {
    background-color: cornsilk;
    color: burlywood;
}

.strong-negative {
    background-color: lightsteelblue;
    color: cornflowerblue;
}

.weak-negative {
    background-color: aliceblue;
    color: cadetblue;
}

.moderate-negative {
    background-color: orchid;
    color: darkmagenta;
}

.bottom-pattern-result {
    height: 100%;
    background-color: lightgray;
}