.toolbar_button.sigma {
    background-color: cadetblue;
    box-shadow: none;
}

.toolbar_button.normaldis{
    background-color: cornflowerblue;
}

.grid-item-locationselector{
    width: -webkit-fill-available;
    max-height: 50vh;
    overflow: scroll;
}

.chart-date-font-size-small{
    font-family: monospace;
    font-size: small;
    margin-top: 0px !important;
    padding-top: 0px !important;
}

.chart-date-font-size-small > .left{
    margin-right: 50px;
    font-family: monospace;
    font-size: small;
}

.chart-date-font-size-small.right{
    margin-left: 50px;
}