.toolbar_button.sigma {
    background-color: cadetblue;
    box-shadow: none;
}

.toolbar_button.normaldis{
    background-color: cornflowerblue;
}

.grid-item-locationselector{
    width: -webkit-fill-available;
    max-height: 50vh;
    overflow: scroll;
}

.chart-date-font-size-small{
    font-family: monospace;
    font-size: small;
    margin-top: 0px !important;
    padding-top: 0px !important;
}

.chart-date-font-size-small{
    font-family: self !important;
    font-size: small !important;
}

.chart-date-font-size-small.right{
    margin-left: 50px;
}

.chart-info-dates{
    padding-left: 5rem !important;
}

.toggle-buttons-bar {
    background-color: rgba(0, 0, 0, 0.10);
    padding-bottom: 0.5rem;
}

.css-d9c359-MuiButtonBase-root-MuiToggleButton-root {
    border: none !important;
}

.back-to-home-button{
    color: black !important;
    border: none !important;
}

.heat-map-color-box{
    width: 5vw;
}

.heat-map-color-box-no-data{
    min-width: 0.5vw;
    border: 1px solid black;
}

.heat-map-color-box-0-low{
    background-color: #98FB98;
}

.heat-map-color-box-low-middle{
    background-color: #90EE90;
}

.heat-map-color-box-middle-high{
    background-color: #32CD32;
}

.heat-map-color-box-high-veryhigh{
    background-color: #3CB371;
}

.heap-map-grid-items{
    padding: 0% !important;
}

.heap-map-grid-months{
    font-weight: 500;
    font-size: small;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}