.tab-relation-search-button{
    border: 0.1rem solid !important;
    border-radius: 20px !important;
    min-width: auto !important;
}

.tab-card{
    box-shadow: none !important;
    font-family: initial;
    border-radius: 20px !important;
    max-height: 10vh;
}

.tab-card-height{
    max-height: 8vh;
}

.tab-card-chip-days{
    border-radius: 5px !important;
    background-color: cadetblue !important;
}

.tab-card-chip-season{
    border-radius: 5px !important;
}

.tab-panel-scroll{
    overflow: scroll;
    max-height: 26vh;
}